.navbar-brand
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;

}
.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.navbar-brand
{
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: greenyellow;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    margin-right: 0px;
}
.navbar-brand:hover {
    background-color: greenyellow;
    color: #050801;
    border-radius: 30px;
    box-shadow: 0 0 5px greenyellow,
                0 0 25px greenyellow,
                0 0 50px greenyellow,
                0 0 100px greenyellow;
    -webkit-box-reflect: below 1px linear-gradient(transprant,#0005);

}
header{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

  